/*logo fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*button text fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/*menu bar section*/
body{
    width: 1440px;
    margin: 0 auto;
    background-color: #F5F8FF;
}



/*all button design here*/
body button{
    font-size: 16px;
    color: #ffffff;
    padding: 12px 36px;
    font-family: "Raleway", sans-serif;
    background-color: #4E47FF;
    border: none;
    border-radius: 10px;
    font-weight: 600;
}
body button:hover{
    color: #4E47FF;
    background-color: #ffffff;
    cursor: pointer;
}



#headerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(image/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.menuBar{
    width: 1140px;
    height: 151px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menuBar h1{
    font-size: 34px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: 800;
}

.headerContent{
    margin: 158px 0 200px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 905px;
    gap: 37px;
}
.headerContent h1{
    font-size: 65px;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    text-align: center;
    color: #252432;
}


/*main section: one*/
#sectionOne{
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 130px auto;
    gap: 220px;
}

.oneTextBtn{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
.oneTextBtn h1{
    font-size: 42px;
    color: #252432;
    font-family: "Raleway", sans-serif;
}
.oneTextBtn p{
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    font-family: "Raleway", sans-serif;
}
.oneImage img{
    width: 403px;
    border-radius: 48px;
}

/*section two*/
#sectionTwo{
    width: 1140px;
    padding: 50px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    border-radius: 20px;
    background-color: #E5E7FF;
    margin: 130px auto;
}
.sectionTwoHeadingContainer p{
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}
.sectionTwoSubItem{
    display: flex;
    gap: 158px;
    align-items: center;
}
.sectionTwoSubItem h1{
    font-size: 80px;
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    text-align: center;
}
.sectionTwoSubItem h3{
    font-size: 20px;
    color: #000000;
    opacity: 50%;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    text-align: center;
}


/*section three*/
#sectionThree{
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 130px auto;
}
.sectionThreeHeadingContainer p{
    color: #252432;
    font-family: "Raleway", sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}
.sectionThreeSubItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.sectionThreeSubItemOne{
    width: 366px;
    padding: 24px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 14px;
}
.sectionThreeSubItemImage{
    display: flex;
    width: 116px;
}
.sectionThreeSubItemText{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.sectionThreeSubItemText h3{
    font-size: 12;
    font-family: "Raleway", sans-serif;
}
.sectionThreeSubItemText p{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
}
.sectionThreeSubItemImgReviewer{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sectionThreeSubItemImg img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
}
.sectionThreeSubItemReviewer h4{
    font-size: 16px;
    color: #757575;
    font-weight: 600;
    font-family: "Inter", sans-serif;
}
.sectionThreeSubItemReviewer h5{
    font-size: 16px;
    color: #757575;
    font-weight: 300;
    font-family: "Inter", sans-serif;
}


/*section four*/
#sectionFour{
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 130px auto;
    background-color: #FFFFFF;
    border-radius: 10px;
}
.sectionFourText{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.sectionFourContentMargin{
    margin: 71px 0;
}
.sectionFourText h1{
    font-size: 50px;
    font-family: "Raleway", sans-serif;
    color: #000000;
}
.sectionFourText p{
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    color: #000000;
    opacity: 50%;
}
.sectionFourImg img{
    border-radius: 48px;
}


/*section five*/
#sectionFive{
    width: 1140px;
    margin: 130px auto;
}
.sectionFiveMargin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sectionFiveFormItems{
    display: flex;
    flex-direction: column;
}
.sectionFiveBigText h1{
    font-family: "Raleway", sans-serif;
    font-size: 97px;
    font-weight: bold;
}
.sectionFourContentMargin button{
    margin-bottom: 20px;
}
.sectionFourContentMargin button:hover{
    background-color: #F5F8FF;
}
.sectionFiveFormItems label{
    font-size: 18px;
    font-family: "Inter", sans-serif;
    margin-bottom: 10px;
}
.sectionFiveFormItems input{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background-color: #FFFFFF;
    margin-bottom: 19px;
}
.sectionFiveFormItems textarea{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    padding: 20px 32px;
    border-radius: 10px;
    border: 1px solid #D6DDED;
    background-color: #FFFFFF;
    margin-bottom: 19px;
}
.sectionFiveFormItems placeholder{
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

/*footer section*/
#footerSection{
    margin: 130px auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 130px;
    border-top: 1px solid #D6DDED;
}
.footerLogoText h1{
    font-size: 100px;
    font-family: "Inter", sans-serif;
    color: #4E47FF;
    font-weight: 800;
    margin: 10px 0;
    text-align: center;
}
.footerLogoText p{
    font-size: 16px;
    font-family: "Inter", sans-serif;
    color: #8987A1;
    margin-bottom: 20px;
    text-align: center;
    margin: 20px 335px;
}
.tooterNavigationListContainer{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}
.tooterNavigationListContainer li a{
    list-style: none;
    font-size: 16px;
    color: #8987A1;
    font-family: "Inter", sans-serif;
}
.tooterNavigationListContainer li a:hover{
    list-style: none;
    font-size: 16px;
    color: #8987A1;
    font-family: "Inter", sans-serif;
}